@mixin flex($gap) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .form-container {
    @include flex(1rem);
    form {
      @include flex(1.2rem);

      input {
        border: none;
        padding-inline: 1.2rem;
        padding-block: 1.2rem;
        border-radius: 1rem;
        min-width: 350px;
      }
      button{
        padding: 1rem 1rem;
        border: none;
        border-radius: 1rem;
        background-color: rgb(94, 155, 91);
        color: whitesmoke;
        cursor: pointer;
        transition: all ease 0.2s;
      }
      button:active{
        scale: 0.90;
      }
    }
    a{
        text-decoration: none;
        color: crimson;
    }
  }
}
